<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxdmy.excite.system.mapper.SysLogRequestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zxdmy.excite.system.entity.SysLogRequest">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="ip" property="ip"/>
        <result column="user_agent" property="userAgent"/>
        <result column="req_uri" property="reqUri"/>
        <result column="req_method" property="reqMethod"/>
        <result column="req_function" property="reqFunction"/>
        <result column="req_data" property="reqData"/>
        <result column="res_data" property="resData"/>
        <result column="time_cost" property="timeCost"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , user_id, ip, user_agent, req_uri, req_method, req_function, req_data, res_data, time_cost, status, create_time, update_time, delete_time
    </sql>

</mapper>
