<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>基本资料修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">

</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <!-- 表单 -->
        <form class="layui-form" action="">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>我的基本资料</legend>
            </fieldset>
            <!-- 用户名称 -->
            <div class="layui-form-item">
                <label class="layui-form-label">我的名称<span style="color:red"> *</span></label>
                <div class="layui-input-block">
                    <input type="text" th:value="${user.username}" name="username" lay-verify="required" lay-reqtext="用户名称不能为空！" placeholder="请输入我的名称" class="layui-input">
                    <tip>请填写自己的账号名称。</tip>
                </div>
            </div>
            <!-- 邮箱 -->
            <div class="layui-form-item">
                <label class="layui-form-label">我的邮箱<span style="color:red"> *</span></label>
                <div class="layui-input-block">
                    <input type="email" th:value="${user.email}" name="email" lay-verify="required" lay-reqtext="用户名称不能为空！" placeholder="请输入邮箱" value="" class="layui-input">
                    <tip>请填写邮箱。邮箱即登录账号！</tip>
                </div>
            </div>
            <!-- 手机 -->
            <div class="layui-form-item">
                <label class="layui-form-label required">我的手机</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${user.phone}" name="phone" placeholder="请输入手机" value="" class="layui-input">
                </div>
            </div>
            <!-- 备注 -->
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注信息</label>
                <div class="layui-input-block">
                    <textarea name="remark" th:text="${user.remark}" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="userCenter-setting-save">确认保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'miniTab'], function () {
        let form = layui.form,
            layer = layui.layer;
        let $ = layui.jquery;

        //监听提交
        form.on('submit(userCenter-setting-save)', function (data) {
            $.post("/system/user/center/saveSetting", data.field, function (data) {
                // 根据返回状态码输出提示信息，200 表示成功，其他表示失败
                if (data.code === 200) {
                    layer.alert(data.msg, {offset: 't', icon: 1});
                } else {
                    layer.alert(data.msg, {offset: 't', icon: 2});
                }
            });
            return false;
        });

    });
</script>
</body>
</html>